{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}



{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-6 offset-3 mt-5">
                <h1> Inscrivez-vous </h1>
                {{ form(form) }}
            </div>
        </div>
    </div>
{% endblock %}
